<?xml version="1.0"?>
<config>
    <modules>
        <Booklink_Vm>
            <version>2.2.0</version>
        </Booklink_Vm>
    </modules>
    <frontend>
        <routers>
            <vm>
                <use>standard</use>
                <args>
                    <module>Booklink_Vm</module>
                    <frontName>vm</frontName>
                </args>
            </vm>
        </routers>
        <layout>
            <updates>
                <vm>
                    <file>vm.xml</file>
                </vm>
            </updates>
        </layout>
        <events>
          <checkout_type_onepage_save_order>
            <observers>
			<vm>
              <Booklinkvm_set_informations>
                <type>model</type>
                <class>Booklink_Vm_Helper_Data</class>
                <method>setVmInformations</method>
              </Booklinkvm_set_informations>
            </vm>
			</observers>
          </checkout_type_onepage_save_order>
        </events>
    </frontend>
    <global>
        <models>
            <vm>
                <class>Booklink_Vm_Model</class>
            </vm>
        </models>
        <resources>
            <vm_setup>
                <setup>
                    <module>Booklink_Vm</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vm_setup>
            <vm_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vm_write>
            <vm_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vm_read>
        </resources>
		<blocks>
		<adminhtml>
			<rewrite><sales_order_payment>Booklink_Vm_Block_Adminhtml_Sales_Order_Payment</sales_order_payment></rewrite>
		</adminhtml>
		</blocks>
        <blocks>
            <vm>
                <class>Booklink_Vm_Block</class>
            </vm>
            <payment>
                <class>Booklink_Vm_Block</class>
                <class>Mage_Payment_Block</class>
            </payment>
        </blocks>
        <helpers>
            <vm>
                <class>Booklink_Vm_Helper</class>
            </vm>
        </helpers>
    </global>
    <default>
        <!-- default configuration options for payment -->
        <payment>
            <vm>
                <active>0</active>
                <email_customer>0</email_customer>
                <test>0</test>
                <!-- model to handle logic for this payment method -->
                <model>vm/payment</model>
                <!-- order status for new orders paid by this payment method -->
                <order_status>1</order_status>
                <!-- default title for payment checkout page and order view page -->
                <title>Virtual Merchant Payment Gateway</title>
                <max_order_total>1000</max_order_total>
                <min_order_total>0</min_order_total>
                <cctypes>VI,MC,AE,DI</cctypes>
                <payment_action>authorize</payment_action>
                <cgi_url>https://www.myvirtualmerchant.com/VirtualMerchant/processxml.do</cgi_url>
                <allowspecific>0</allowspecific>
                <currency>USD</currency>
            </vm>
        </payment>
    </default>
</config>
